{% extends "maze/base.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'maze/css/style.css' %}">{% endblock %}

{% block content %}
<h2 class="text-center mb-2">Harry Potter Maze Quiz</h2>
<h5 class="text-center mb-5">Playing as team {{ user_id }}</h5>

<p id="terminalOutputBox"></p>

<div class="input-group">
    <input type="text" class="form-control" id="userTextInput">
    <button class="btn btn-outline-secondary" type="button" onclick="submitUserInput()">Submit</button>
</div>
{% endblock %}

{% block js %}<script src="{% static 'maze/js/app.js' %}"></script>{% endblock %}
