{% extends "maze/base.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'maze/css/style.css' %}">{% endblock %}

{% block content %}
<h2 class="text-center mb-2">Harry Potter Maze Quiz</h2>
<h5 class="text-center mb-2">Playing as team {{ user_id }}</h5>
<h6 class="text-center mb-4"><a href="/sidechallenges">Side Challenges</a></h6>


<div class="vertical-center">
    <div id="terminalBox" class="shadow-lg">
        <p id="terminalOutputBox" class="noscrollbar mb-0">Welcome to the maze.</p>
        <div id="terminalBottomBar" class="d-flex">
            <span>></span>
            <input type="text" id="userTextInput" class="flex-grow-1" autocomplete="off" data-lpignore="true" autofocus placeholder="Type your action here...">
            <div id="scoreBox">
                Score: 0
            </div>
        </div>
        <div id="lockoutOverlay" class="position-absolute top-0 start-0 d-flex justify-content-center align-items-center">
            <p id="lockoutTimer">timer</p>
        </div>
    </div>
</div>

<div id="mainTimer" class="text-center">00:00</div>
{% endblock %}

{% block js %}<script src="{% static 'maze/js/app.js' %}"></script>{% endblock %}
