<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="container">

        Admin Page

        <button class="btn btn-danger" onclick="endGame()">END GAME</button>

        {% for team in teams %}
        <p>{{ team.team_name }} - score: {{ team.score }} - side challenges: {{ sides.team.team_name }} - Question Nodes: {{ mazes.team.team_name }}</p>
        {% endfor %}
    </div>

    {% load static %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'maze/js/admin.js' %}"></script>
    
</body>
</html>
