{% extends "maze/base.html" %}
{% load static %}

{% block title %}Side Challenges{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'maze/css/style.css' %}">{% endblock %}

{% block content %}
<h2 class="text-center mb-2">Harry Potter Maze Quiz - Side Challenges</h2>
<h5 class="text-center mb-5">Playing as team {{ user_id }}</h5>

<h3>Decrypt the string <br> ehorhf untevq</h3>
    <h3>Decrypt the string <br> 01000011 01110010 01101111 01101111 01101011 01110011 01101000 01100001 01101110 01101011 01110011</h3>
    <h3>Decrypt the string <br> nebgnuczla</h3>
    <h3>Decrypt the string <br> cuieyqgecfoy <br> Now this one is a hard one, the key is located near one of the horcrux's</h3>
{% endblock %}

{% block hints %}
<h3 class="Question_1">Think back to the roman times, this cipher was inspired by one of the famous Rulers</h3>
    <h3 class="Question_2">Think about how letters are represented on computers</h3>
    <h3 class="Question_3">Think back to the first question, maybe try from a different elgna</h3>
    <h3 class="Question_4a">The key is hidden in the house Rowena founded</h3>
    <h3 class="Question_4b">The cipher employs the use polyalphabetic substitution</h3>
{% endblock %}

{% block js %}<script src="{% static 'maze/js/side_challenges.js' %}"></script>{% endblock %}
