{% extends "maze/base.html" %}
{% load static %}

{% block title %}Side Challenges{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'maze/css/style.css' %}">
<link rel="stylesheet" href="{% static 'maze/css/page_sc.css' %}">
{% endblock %}

{% block content %}

<h2 class="text-center mb-2">Side Challenges</h2>
<h5 class="text-center mb-5">Playing as team {{ user_id }}. Score: <span id="scoreBox">0</span></h5>

<div class="row">
    <div class="col-md-8">
        {% comment %} Questions go here {% endcomment %}
        <p class="scPrompt">Decrypt the string: <span class="scText">ehorhf untevq</span></p>

        <div class="input-group">
            <input type="text" class="form-control" id="userTextInputSC1" placeholder="Enter your answer here..." autocomplete="off" data-lpignore="true">
            <button class="btn btn-secondary" type="button" onclick="submitAnswer(1)">Submit</button>
            <button class="btn btn-secondary" type="button" onclick="submitHint(1)">Hint</button>
        </div>
        <div id="scResult1" class="mb-1"></div>
        <div id="scHint1" class="mb-4"></div>


        <p class="scPrompt">Decrypt the string: <span class="scText">01000011 01110010 01101111 01101111 01101011 01110011 01101000 01100001 01101110 01101011 01110011</span></p>

        <div class="input-group">
            <input type="text" class="form-control" id="userTextInputSC2" placeholder="Enter your answer here..." autocomplete="off" data-lpignore="true">
            <button class="btn btn-secondary" type="button" onclick="submitAnswer(2)">Submit</button>
        </div>
        <div id="scResult2" class="mb-1"></div>
        <div id="scHint2" class="mb-4"></div>


        <p class="scPrompt">Decrypt the string: <span class="scText">nebgnuczla</span></p>

        <div class="input-group">
            <input type="text" class="form-control" id="userTextInputSC3" placeholder="Enter your answer here..." autocomplete="off" data-lpignore="true">
            <button class="btn btn-secondary" type="button" onclick="submitAnswer(3)">Submit</button>
        </div>
        <div id="scResult3" class="mb-1"></div>
        <div id="scHint3" class="mb-4"></div>

        <p class="scPrompt">Decrypt the string: <span class="scText">cuieyqgecfoy</span><br>Now this one is a hard one, the key is located near one of the horcrux's</p>

        <div class="input-group">
            <input type="text" class="form-control" id="userTextInputSC4" placeholder="Enter your answer here..." autocomplete="off" data-lpignore="true">
            <button class="btn btn-secondary" type="button" onclick="submitAnswer(4)">Submit</button>
        </div>
        <div id="scResult4" class="mb-1"></div>
        <div id="scHint4" class="mb-4"></div>
    </div>

    <div id="mazeGrid" class="col-md-4">
        {% comment %} Maze grid goes here {% endcomment %}
        <img id="mazeGridSquare1" class="mazeGridSquare" src="{% static "maze/img/mazesquare.jpg" %}"><img id="mazeGridSquare3" class="mazeGridSquare" src="{% static "maze/img/mazesquare.jpg" %}"><img id="mazeGridSquare2" class="mazeGridSquare" src="{% static "maze/img/mazesquare.jpg" %}"><img id="mazeGridSquare4" class="mazeGridSquare" src="{% static "maze/img/mazesquare.jpg" %}">
    </div>
</div>

{% endblock %}

{% block hints %}
<h3 class="Question_1">Think back to the roman times, this cipher was inspired by one of the famous Rulers</h3>
    <h3 class="Question_2">Think about how letters are represented on computers</h3>
    <h3 class="Question_3">Think back to the first question, maybe try from a different elgna</h3>
    <h3 class="Question_4a">The key is hidden in the house Rowena founded</h3>
    <h3 class="Question_4b">The cipher employs the use polyalphabetic substitution</h3>
{% endblock %}

{% block js %}<script src="{% static 'maze/js/side_challenges.js' %}"></script>{% endblock %}
