{% extends "maze/base.html" %}
{% load static %}

{% block title %}Select a Team{% endblock %}

{% block content %}
<h3 class="text-center mb-5">Select your team</h3>

<div class="input-group">
  <select class="form-select" id="teamSelectDropdown">
    {% for team in teams %}
        <option value="{{ team.team_name }}" {% if forloop.first %}selected{% endif %}>{{ team.team_name }}</option>
    {% endfor %}
  </select>
  <button class="btn btn-outline-secondary" onclick="submitSelectedTeam()">Submit</button>
</div>
{% endblock %}

{% block js %}<script src="{% static 'maze/js/teams.js' %}"></script>{% endblock %}

